body {
  background-color: #116177;
  margin: 10px;
}

inh.h1 {
  color: black;
  text-align: left;
  font-size: 20px;
  font-weight: 500;

}

inh.txt {
  color: blue;
  text-align: left;
  font-size: 15px;

}


p {
  color: black;
  text-align: left;
  font-size: 25px;
}

h1 {
  color: black;
  text-align: left;
  font-size: 40px
  margin-left: 10px;
}

h2 {
  color: black;
  text-align: left;
  font-size: 35px
}

h3 {
  color: black;
  text-align: left;
  font-size: 30px
}

h4 {
  color: black;
  text-align: left;
  font-size: 25px
}

hr {
  size: 1;
  width: 100%;
  align: center;
}

li {
  color: black;
  text-align: left;
  font-size: 23px;
}
